.btn-container {
  display: flex;
  justify-content: flex-start;
}

.btn {
  border: 0;
  margin: 10px;
}

.primary-btn {
  background-color: #50b83c;
  width: 80px;
  height: 36px;
  border-radius: 4px;
  border: 0px;
  cursor: pointer;
  color: #ffffff;
  /* font-family: 'Roboto', sans-serif; */
  font-size: 14px;
  font-weight: 500;
}

.second-btn {
  background-color: #fff;
  width: 73px;
  height: 36px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  cursor: pointer;
  color: #1f1f1f;
  /* font-family: 'Roboto', sans-serif; */
  font-size: 14px;
  font-weight: 500;
}

.link-btn {
  background-color: #ffffff;
  color: #50b83c;
  /* font-family: 'Roboto', sans-serif; */
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 0;
  cursor: pointer;
}

.icon-btn {
  background-color: rgba(80, 184, 60, 0.1);
  width: 40px;
  height: 36px;
  border: 4px;
  cursor: pointer;
}

.icon-btn-svg {
  line-height: 0;
  color: #50b83c;
}

.icon-text-btn {
  background-color: #50b83c;
  width: 90px;
  height: 36px;
  border-radius: 4px;
  border: 0px;
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  padding: 5px;
  position: relative;
}

.icon-text-btn-icon::after {
  content: '\e145';
  font-size: 22px;
  color: white;
  position: absolute;
  top: 7px;
  left: 5px;
}

.icon-text-btn-txt {
  margin-left: 10px;
}

.icon-btn-icon::after {
  content: '\e145';
  font-size: 24px;
  color: #50b83c;
  /* position: absolute; */
  top: 7px;
  left: 5px;
}

.combo-btn {
  background-color: #50b83c;
  width: 114px;
  height: 36px;
  border-radius: 4px;
  border: 0px;
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  position: relative;
}

.combo-btn-txt {
  margin-right: 27px;
}

.combo-btn-txt:after {
  position: absolute;
  right: 31px;
  content: '';
  display: inline-block;
  background: white;
  height: 100%;
  width: 1.5px;
  top: 0px;
}

.combo-btn-icon::after {
  position: absolute;
  content: '\e5cf';
  font-size: 24px;
  left: 86px;
  color: white;
  top: 8px;
}
